<h1><%= @beer_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<h2>List of members</h2>

<% if not @beer_club.members.empty? %>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li><%= member.username %></li>
    <% end %>
  </ul>
  <br/>
<% else %>
  <p><i>No members yet.</i></p>
<% end %>

<% if current_user %>
  <% if current_user.member_of?(@beer_club) %>
    <%= form_for(@membership, method: 'delete') do |form| %>
      <%= form.hidden_field :beer_club_id %>
      <%= form.submit "Cancel my membership" %>
    <% end %>
    <br/>
  <% else %>
    <%= form_for(@membership) do |form| %>
      <%= form.hidden_field :beer_club_id %>
      <%= form.submit "Join this club" %>
    <% end %>
    <br/>
  <% end %>

  <%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
  <%= link_to 'Delete', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', beer_clubs_path %>
