<div class="row">
  <div class="col-md-4">
    <h2>Best beers</h2>
    <%= render 'list', top: @beers %>
  </div>

  <div class="col-md-4">
    <h2>Best breweries</h2>
    <%= render 'list', top: @breweries %>
  </div>

  <div class="col-md-4">
    <h2>Best styles</h2>
    <%= render 'list', top: @styles %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-6">
    <h2>Most active users</h2>
    <%= render 'list_users', top: @users %>
  </div>
  <div class="col-md-6">
    <h2>Recent ratings</h2>
    <%= render 'list_ratings', top: @ratings %>
  </div>
</div>

<% if current_user %>
  <%= link_to 'New rating', new_rating_path %>
<% end %>