<h2>
  <%= @brewery.name %>
  <% if not @brewery.active %>
    <span class="badge badge-info">retired</span>
  <% end %>
</h2>

<p>
  <em>Established in <%= @brewery.year %></em>
</p>

<p>Number of beers: <%= @brewery.beers.size%></p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.average_rating %>
    Average rating: <%= round(@brewery.average_rating) %> <em>(Rated <%= pluralize(@brewery.ratings.size, 'time') %>)</em>
  <% else %>
    <em>This brewery has no ratings yet.</em>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@brewery) %>
